Repository googleapis/nodejs-spanner, pull requests merged in 2020-09, with the labels that each got.

#1163 feat: spanner NUMERIC support
  package.json
  samples/datatypes.js
  samples/system-test/spanner.test.js
  src/codec.ts
  src/index.ts
  system-test/spanner.ts
  test/codec.ts
  test/index.ts
Labels: api: spanner, cla: yes

#1230 feat: support callbacks with database getRestoreInfo(), getState(), getOperations()
  src/database.ts
  test/database.ts
Labels: api: spanner, cla: yes

#1234 test: fix flaky restore backup samples test
  samples/package.json
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes

#1237 build(test): recursively find test files; fail on unsupported dependency versions
  .github/workflows/ci.yaml
  .mocharc.js
  synth.metadata
Labels: automerge, cla: yes, context: full

#1238 docs(samples): updated NUMERIC samples
  samples/datatypes.js
  samples/numeric-add-column.js
  samples/numeric-query-parameter.js
  samples/numeric-update-data.js
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples

#1239 docs: update list of available samples
  README.md
  samples/README.md
  synth.metadata
Labels: cla: yes, context: none
