Repository googleapis/nodejs-spanner, pull requests merged in 2020-12, with the labels that each got.

#1277 chore: adds throttled to UpdateDatabaseDdlMetadata
  protos/google/spanner/admin/database/v1/spanner_database_admin.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1281 chore: generate GAPIC metadata JSON file
  src/v1/gapic_metadata.json
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1287 docs: homogenize region tags
  samples/backups-cancel.js
  samples/numeric-update-data.js
Labels: api: spanner, automerge, cla: yes

#1288 docs: add instructions for authenticating for system tests
  CONTRIBUTING.md
  README.md
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full
