Repository googleapis/nodejs-spanner, pull requests merged in 2021-08, with the labels that each got.

#1439 samples: add default leader samples
  samples/database-create-with-default-leader.js
  samples/database-get-ddl.js
  samples/database-get-default-leader.js
  samples/database-update-default-leader.js
  samples/get-instance-config.js
  samples/list-databases.js
  samples/list-instance-configs.js
  samples/system-test/spanner.test.js
Labels: api: spanner, automerge, cla: yes, owlbot:ignore, samples

#1427 docs: add samples for tagging
  samples/request-tag.js
  samples/system-test/spanner.test.js
  samples/transaction-tag.js
Labels: api: spanner, automerge, cla: yes, owlbot:ignore, samples

#1445 fix: adding option to skip back up tests
  README.md
  samples/README.md
  system-test/spanner.ts
Labels: api: spanner, cla: yes

#1450 docs: update transaction tag sample
  samples/system-test/spanner.test.js
  samples/transaction-tag.js
Labels: cla: yes, automerge, api: spanner, samples

#1449 chore(nodejs): update client ref docs link in metadata
  .repo-metadata.json
  README.md
Labels: cla: yes, automerge, api: spanner

#1452 fix(deps): google-gax v2.24.1
  package.json
Labels: cla: yes, automerge, api: spanner
