Repository googleapis/nodejs-spanner, pull requests merged in 2021-01, with the labels that each got.

#1289 docs: cleanup from PR 1287 now that docs are updated
  samples/backups-cancel.js
  samples/numeric-update-data.js
Labels: api: spanner, automerge, cla: yes

#1290 docs: update dates
  .jsdoc.js
  protos/protos.d.ts
  protos/protos.js
  src/v1/database_admin_client.ts
  src/v1/instance_admin_client.ts
  src/v1/spanner_client.ts
  synth.metadata
  test/gapic_database_admin_v1.ts
  test/gapic_instance_admin_v1.ts
  test/gapic_spanner_v1.ts
Labels: api: spanner, automerge, cla: yes, context: none

#1292 feat: adds style enumeration
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: none

#1291 fix(sample-test): ensure instance is created before proceeding with tests
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples

#1294 Fix wrong argument passed as gaxOptions
  samples/dml.js
Labels: api: spanner, cla: yes

#1297 feat: add option for returning Spanner commit stats
  protos/google/spanner/v1/spanner.proto
  protos/google/spanner/v1/transaction.proto
  protos/google/spanner/v1/type.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1/spanner_client.ts
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1298 refactor(nodejs): move build cop to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1299 feat: adds PITR fields to backup and database
  protos/google/spanner/admin/database/v1/backup.proto
  protos/google/spanner/admin/database/v1/spanner_database_admin.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1/database_admin_client.ts
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full
