Repository googleapis/nodejs-spanner, pull requests merged in 2021-03, with the labels that each got.

#1312 samples: PITR samples backup fix
  samples/backups-create.js
  samples/backups.js
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples

#1314 chore(codegen): add optimizer_statistics_package field in QueryOptions
  protos/google/spanner/v1/keys.proto
  protos/google/spanner/v1/query_plan.proto
  protos/google/spanner/v1/result_set.proto
  protos/google/spanner/v1/spanner.proto
  protos/google/spanner/v1/transaction.proto
  protos/google/spanner/v1/type.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1318 fix(sample): run "spanner_batch_client" independently
  samples/batch.js
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples

#1274 feat: customer-managed encryption keys
  samples/backups-create-with-encryption-key.js
  samples/backups-restore-with-encryption-key.js
  samples/backups.js
  samples/database-create-with-encryption-key.js
  samples/package.json
  samples/schema.js
  samples/system-test/spanner.test.js
  src/backup.ts
  src/database.ts
  test/backup.ts
  test/database.ts
Labels: api: spanner, cla: yes

#1325 test: fix flaky sample test
  samples/instance.js
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples

#1326 chore: re-generated to pick up changes from self
  README.md
  samples/README.md
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: none

#1317 chore(deps): update gapic-generator-typescript to v1.2.10
  synth.metadata
  webpack.config.js
Labels: api: spanner, cla: yes, context: full

#1327 fix: remove acquire timeout listener on return of session
  src/session-pool.ts
Labels: api: spanner, automerge, cla: yes

#1329 chore: re-generated to pick up changes from googleapis
  protos/google/spanner/admin/database/v1/spanner_database_admin.proto
  protos/google/spanner/admin/instance/v1/spanner_instance_admin.proto
  protos/google/spanner/v1/spanner.proto
  src/v1/database_admin_client.ts
  src/v1/spanner_client.ts
  synth.metadata
Labels: api: spanner, cla: yes, context: full
