Repository googleapis/nodejs-spanner, pull requests merged in 2021-02, with the labels that each got.

#1300 chore: update CODEOWNERS config
  .repo-metadata.json
Labels: api: spanner, automerge, cla: yes

#1301 build: adds UNORDERED_LIST enum
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: none

#1254 feat: CommitStats in CommitResponse
  samples/crud.js
  samples/get-commit-stats.js
  samples/system-test/spanner.test.js
  src/table.ts
  src/transaction.ts
  test/table.ts
  test/transaction.ts
Labels: api: spanner, cla: yes

#1303 docs: update list of available samples
  .github/CODEOWNERS
  README.md
  samples/README.md
  synth.metadata
Labels: api: spanner, cla: yes, context: partial

#1308 feat: return ResultSetMetadata for query
  src/codec.ts
  src/database.ts
  src/transaction.ts
  system-test/spanner.ts
  test/codec.ts
  test/mockserver/mockspanner.ts
  test/spanner.ts
Labels: api: spanner, cla: yes

#1250 feat: Point In Time Recovery (PITR)
  samples/backups-create.js
  samples/backups-restore.js
  samples/database-create-with-version-retention-period.js
  samples/schema.js
  samples/system-test/spanner.test.js
  src/backup.ts
  test/backup.ts
Labels: api: spanner, automerge, cla: yes

#1311 chore(codegen): CMEK fields in backup and database
  README.md
  protos/google/spanner/admin/database/v1/backup.proto
  protos/google/spanner/admin/database/v1/common.proto
  protos/google/spanner/admin/database/v1/spanner_database_admin.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  samples/README.md
  src/v1/database_admin_client.ts
  synth.metadata
  test/gapic_database_admin_v1.ts
Labels: api: spanner, cla: yes, context: partial

#1310 docs: use earliest version time for backup in sample
  samples/backups-create.js
  samples/system-test/spanner.test.js
Labels: api: spanner, cla: yes, samples
