Repository googleapis/nodejs-spanner, pull requests merged in 2022-04, with the labels that each got.

#1593 feat: integration testing for postgres dialect
  system-test/spanner.ts
Labels: api: spanner

#1610 fix: Revert "fix(deps): update dependency grpc-gcp to ^0.4.0 (#1603)"
  package.json
Labels: api: spanner, size: xs

#1615 docs: fix typo
  src/index.ts
  src/instance.ts
Labels: api: spanner, size: xs

#1617 fix: pin version for nodejs gax-node
  package.json
Labels: api: spanner, size: xs

#1612 samples: samples for postgreSQL
  README.md
  samples/README.md
  samples/pg-add-column.js
  samples/pg-dml-getting-started-update.js
  samples/pg-index-create-storing.js
  samples/system-test/spanner.test.js
Labels: api: spanner, samples, size: l

#1621 feat: Adding IT for date and commit timestamp
  system-test/spanner.ts
Labels: api: spanner, size: m
