Repository googleapis/nodejs-spanner, pull requests merged in 2022-11, with the labels that each got.

#1732 fix(deps): use google-gax v3.5.2
  package.json
Labels: automerge, api: spanner, size: xs

#1692 feat: inline BeginTransaction with first statement
  src/session-pool.ts
  src/transaction-runner.ts
  src/transaction.ts
  system-test/spanner.ts
  test/database.ts
  test/mockserver/mockspanner.ts
  test/session-pool.ts
  test/spanner.ts
  test/transaction-runner.ts
  test/transaction.ts
Labels: api: spanner, size: l

#1737 chore: tag changes for samples/pg-jsonb-query-parameter.js
  samples/pg-jsonb-query-parameter.js
Labels: automerge, api: spanner, samples, size: xs

#1739 fix: cleanup different types of session pools
  benchmark/spanner.ts
  src/database.ts
  src/session-pool.ts
  src/session.ts
  test/database.ts
  test/session-pool.ts
  test/spanner.ts
Labels: api: spanner, size: xl

#1740 ci: Change library owner
  .github/blunderbuss.yml
Labels: api: spanner, size: xs
