Repository googleapis/nodejs-spanner, pull requests merged in 2022-12, with the labels that each got.

#1726 feat: export data types in index.ts
  src/index.ts
Labels: automerge, api: spanner, size: xs

#1751 feat: fgac support and samples
  README.md
  samples/README.md
  samples/add-and-drop-new-database-role.js
  samples/enable-fine-grained-access.js
  samples/get-database-roles.js
  samples/read-data-with-database-role.js
  samples/system-test/spanner.test.js
  src/database.ts
  src/session-pool.ts
  src/session.ts
  system-test/spanner.ts
  test/database.ts
  test/session-pool.ts
Labels: api: spanner, samples, size: xl

#1758 fix: add sleep after admin request intensive tests
  system-test/spanner.ts
Labels: automerge, api: spanner, size: m

#1759 samples: DML with returning support
  README.md
  samples/README.md
  samples/dml-returning-delete.js
  samples/dml-returning-insert.js
  samples/dml-returning-update.js
  samples/pg-database-create.js
  samples/pg-dml-returning-delete.js
  samples/pg-dml-returning-insert.js
  samples/pg-dml-returning-update.js
  samples/schema.js
  samples/system-test/spanner.test.js
Labels: automerge, api: spanner, samples, size: l

#1768 tests: adding array testing for PG data types
  system-test/spanner.ts
Labels: api: spanner, size: l

#1769 chore: skipping fgac tests for continuous tests
  system-test/spanner.ts
Labels: automerge, api: spanner, size: xs
