Repository googleapis/nodejs-spanner, pull requests merged in 2023-08, with the labels that each got.

#1891 Revert "feat: Set LAR as False (#1883)"
  src/index.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: s

#1846 feat: Bit reverse sequence
  README.md
  samples/README.md
  samples/pg-sequence-alter.js
  samples/pg-sequence-create.js
  samples/pg-sequence-drop.js
  samples/sequence-alter.js
  samples/sequence-create.js
  samples/sequence-drop.js
  samples/system-test/spanner.test.js
Labels: api: spanner, size: l

#1829 feat: Support For Proto Column in Spanner
  .eslintignore
  package.json
  protos/google/spanner/admin/database/v1/spanner_database_admin.proto
  protos/google/spanner/v1/type.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  samples/database-create-with-proto-descriptor.js
  samples/database-get-ddl.js
  samples/database-update-with-proto-descriptor.js
  samples/proto-column-dml-insert.js
  samples/proto-column-mutation-insert.js
  samples/proto-column-query.js
  samples/proto-column-read.js
  samples/resource/descriptors.pb
  samples/resource/singer.d.ts
  samples/resource/singer.js
  samples/resource/singer.proto
  samples/system-test/spanner.test.js
  src/codec.ts
  src/index.ts
  src/partial-result-stream.ts
  src/transaction.ts
  src/v1/database_admin_client.ts
  system-test/spanner.ts
  test/codec.ts
  test/data/descriptors.pb
  test/data/singer.d.ts
  test/data/singer.js
  test/data/singer.proto
  test/index.ts
  test/transaction.ts
Labels: api: spanner, size: xl

#1870 fix: databoost tests
  samples/batch.js
  system-test/spanner.ts
Labels: automerge, api: spanner, size: xs

#1894 build: add code coverage in GitHub
  package.json
Labels: automerge, api: spanner, size: xs

#1906 chore: update linter to remove errors
  package.json
  src/session-pool.ts
Labels: api: spanner, size: s

#1910 fix: idwaiter with multiple requests
  src/transaction.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: m
