Repository googleapis/nodejs-spanner, pull requests merged in 2023-03, with the labels that each got.

#1815 docs: remove unused references to generated samples
  src/v1/database_admin_client.ts
  src/v1/instance_admin_client.ts
Labels: api: spanner, samples, size: m

#1820 chore: Revert "feat: Adding new fields for Serverless analytics #1816"
  protos/google/spanner/v1/spanner.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1/spanner_client.ts
Labels: api: spanner, size: m

#1822 fix: Logic for retrying specifiied internal errors
  src/partial-result-stream.ts
  src/transaction-runner.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: m
