Repository googleapis/nodejs-spanner, pull requests merged in 2024-10, with the labels that each got.

#2142 test: fix tests failing because of Editions
  samples/system-test/spanner.test.js
Labels: api: spanner, size: xs

#2124 fix: getMetadata for Session
  src/session.ts
  test/session.ts
Labels: kokoro:force-run, automerge, api: spanner, size: s

#2131 feat: (observability) Add support for OpenTelemetry traces and allow observability options to be passed.
  observability-test/batch-transaction.ts
  observability-test/database.ts
  observability-test/spanner.ts
  observability-test/table.ts
  src/batch-transaction.ts
  src/database.ts
  src/index.ts
  src/instance.ts
  src/instrument.ts
  src/table.ts
  src/transaction.ts
  test/spanner.ts
Labels: api: spanner, size: l

#2145 feat: (observability) trace Database.batchCreateSessions + SessionPool.createSessions
  observability-test/database.ts
  observability-test/session-pool.ts
  observability-test/spanner.ts
  observability-test/transaction.ts
  package.json
  src/database.ts
  src/instance.ts
  src/instrument.ts
  src/session-pool.ts
  src/table.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: xl

#2155 feat: (observability) propagate database name for every span generated to aid in quick debugging
  observability-test/database.ts
  observability-test/helper.ts
  observability-test/spanner.ts
  observability-test/table.ts
  observability-test/transaction.ts
  src/batch-transaction.ts
  src/database.ts
  src/session-pool.ts
  src/table.ts
  src/transaction.ts
Labels: automerge, api: spanner, size: l

#2143 fix: exact staleness timebound
  samples/crud.js
Labels: kokoro:force-run, automerge, api: spanner, size: xs

#2099 feat: allow multiple KMS keys to create CMEK database/backup
  README.md
  samples/README.md
  samples/backups-copy-with-multiple-kms-keys.js
  samples/backups-create-with-multiple-kms-keys.js
  samples/backups-restore-with-multiple-kms-keys.js
  samples/database-create-with-multiple-kms-keys.js
  samples/system-test/spanner.test.js
Labels: automerge, api: spanner, size: l

#2167 feat: (observability): trace Database.runTransactionAsync
  observability-test/database.ts
  observability-test/spanner.ts
  src/database.ts
Labels: automerge, api: spanner, size: l

#2169 chore: Remove presubmit for sample tests if no change identified
  .kokoro/samples-test.sh
  owlbot.py
Labels: automerge, api: spanner, samples, size: xs

#2171 chore: Run samples presubmits only if there are changes in sample directory
  .kokoro/samples-test.sh
Labels: api: spanner, samples, size: xs

#2172 docs: refactor writeAtLeastOnce doc
  src/database.ts
  test/database.ts
Labels: api: spanner, size: xs

#2158 feat(observability): fix bugs found from product review + negative cases
  observability-test/database.ts
  observability-test/spanner.ts
  observability-test/transaction.ts
  src/database.ts
  src/index.ts
  src/instrument.ts
  src/table.ts
  src/transaction.ts
  test/spanner.ts
Labels: api: spanner, size: xl

#2176 feat: (observability): trace Database.runPartitionedUpdate
  observability-test/database.ts
  observability-test/spanner.ts
  src/database.ts
Labels: automerge, api: spanner, size: l

#2130 feat: (observability, samples): add tracing end-to-end sample
  OBSERVABILITY.md
  README.md
  samples/README.md
  samples/observability-traces.js
  samples/package.json
  samples/system-test/spanner.test.js
Labels: api: spanner, samples, size: l

#2177 chore: refactor observability tests
  observability-test/batch-transaction.ts
  observability-test/database.ts
  observability-test/helper.ts
  observability-test/observability.ts
  observability-test/session-pool.ts
  observability-test/spanner.ts
  observability-test/transaction.ts
  src/instrument.ts
  src/table.ts
  test/database.ts
  test/partial-result-stream.ts
  test/spanner.ts
Labels: kokoro:run, api: spanner, size: l
