Repository googleapis/nodejs-spanner, pull requests merged in 2024-02, with the labels that each got.

#1992 feat(spanner): add maxCommitDelay support
  src/transaction.ts
  test/transaction.ts
Labels: automerge, api: spanner, size: s

#1869 feat: untyped param types
  samples/dml.js
  samples/struct.js
  src/codec.ts
  src/transaction.ts
  system-test/spanner.ts
  test/codec.ts
  test/spanner.ts
  test/transaction.ts
Labels: automerge, api: spanner, size: l

#1948 feat(spanner): add PG.OID support
  src/codec.ts
  system-test/spanner.ts
  test/codec.ts
Labels: automerge, api: spanner, size: m

#1997 chore: add a new directory for archived samples of admin APIs
  samples/archived/empty
Labels: automerge, api: spanner, samples, size: xs

#1999 chore: add owlbot configuration for executor
  .github/.OwlBot.yaml
  owlbot.py
Labels: api: spanner, size: xs

#2000 fix: only reset pending value with resume token
  .gitignore
  src/partial-result-stream.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: m

#1994 feat(spanner): add emulator support for the admin client autogenerated API samples
  .gitignore
  src/index.ts
  system-test/spanner.ts
  test/index.ts
Labels: automerge, api: spanner, samples, size: m

#1987 docs: Samples and tests for Instance Admin Client APIs
  samples/system-test/v2/spanner.test.js
  samples/v2/get-instance-config.js
  samples/v2/instance-config-create.js
  samples/v2/instance-config-delete.js
  samples/v2/instance-config-get-operations.js
  samples/v2/instance-config-update.js
  samples/v2/instance-with-processing-units.js
  samples/v2/instance.js
  samples/v2/list-instance-configs.js
Labels: kokoro:force-run, automerge, api: spanner, size: l

#1986 docs: Samples and tests for Database Admin Client APIs
  samples/system-test/v2/spanner.test.js
  samples/v2/add-and-drop-new-database-role.js
  samples/v2/database-create-with-default-leader.js
  samples/v2/database-create-with-encryption-key.js
  samples/v2/database-create-with-version-retention-period.js
  samples/v2/database-get-ddl.js
  samples/v2/database-get-default-leader.js
  samples/v2/database-update-default-leader.js
  samples/v2/database-update.js
  samples/v2/datatypes.js
  samples/v2/get-database-roles.js
  samples/v2/index-create-storing.js
  samples/v2/index-create.js
  samples/v2/json-add-column.js
  samples/v2/list-databases.js
  samples/v2/numeric-add-column.js
  samples/v2/pg-add-column.js
  samples/v2/pg-database-create.js
  samples/v2/pg-index-create-storing.js
  samples/v2/pg-interleaving.js
  samples/v2/schema.js
  samples/v2/table-alter-with-foreign-key-delete-cascade.js
  samples/v2/table-create-with-foreign-key-delete-cascade.js
  samples/v2/table-drop-foreign-key-constraint-delete-cascade.js
Labels: kokoro:force-run, automerge, api: spanner, size: xl

#2003 docs: Samples and test for backups admin apis
  samples/system-test/v2/spanner.test.js
  samples/v2/backups-cancel.js
  samples/v2/backups-copy.js
  samples/v2/backups-create-with-encryption-key.js
  samples/v2/backups-create.js
  samples/v2/backups-delete.js
  samples/v2/backups-get-database-operations.js
  samples/v2/backups-get-operations.js
  samples/v2/backups-get.js
  samples/v2/backups-restore-with-encryption-key.js
  samples/v2/backups-restore.js
  samples/v2/backups-update.js
  samples/v2/backups.js
Labels: kokoro:force-run, automerge, api: spanner, size: xl
