Repository googleapis/nodejs-spanner, pull requests merged in 2024-05, with the labels that each got.

#1991 feat: add support for Proto columns
  README.md
  package.json
  samples/README.md
  samples/package.json
  samples/proto-query-data.js
  samples/proto-type-add-column.js
  samples/proto-update-data-dml.js
  samples/proto-update-data.js
  samples/resource/descriptors.pb
  samples/resource/singer.d.ts
  samples/resource/singer.js
  samples/resource/singer.proto
  samples/system-test/spanner.test.js
  src/codec.ts
  src/index.ts
  src/partial-result-stream.ts
  src/transaction.ts
  system-test/spanner.ts
  test/codec.ts
  test/data/descriptors.pb
  test/data/singer.d.ts
  test/data/singer.js
  test/data/singer.proto
  test/index.ts
  test/transaction.ts
Labels: api: spanner, size: xl

#2036 Fix: drop table statement
  .gitignore
  src/database.ts
  src/table.ts
  test/database.ts
  test/table.ts
Labels: kokoro:force-run, api: spanner, size: l

#2050 chore(spanner): regenerate proto files
  samples/resource/README.md
  samples/resource/descriptors.pb
  samples/resource/singer.d.ts
  samples/resource/singer.js
  samples/resource/singer.proto
  test/data/README.md
  test/data/descriptors.pb
  test/data/singer.d.ts
  test/data/singer.js
  test/data/singer.proto
Labels: api: spanner, size: l

#2049 feat(spanner): add support for change streams transaction exclusion option
  src/database.ts
  src/table.ts
  src/transaction-runner.ts
  src/transaction.ts
  test/database.ts
  test/spanner.ts
Labels: kokoro:force-run, automerge, api: spanner, size: l
