Repository googleapis/nodejs-spanner, pull requests merged in 2024-03, with the labels that each got.

#2008 docs: add samples tag
  samples/database-create-with-default-leader.js
  samples/database-get-ddl.js
Labels: kokoro:force-run, api: spanner, samples, size: xs

#2012 fix: Revert untyped param type feature
  samples/dml.js
  samples/struct.js
  src/codec.ts
  src/transaction.ts
  system-test/spanner.ts
  test/codec.ts
  test/spanner.ts
  test/transaction.ts
Labels: automerge, api: spanner, size: l

#2015 feat: Managed Autoscaler
  README.md
  samples/README.md
  samples/instance-with-autoscaling-config.js
  samples/system-test/spanner.test.js
Labels: api: spanner, size: m

#1993 feat(spanner): add a sample for max commit delays
  README.md
  samples/README.md
  samples/max-commit-delay.js
  samples/system-test/spanner.test.js
Labels: api: spanner, samples, size: m

#2018 chore: Skip archived test
  package.json
  samples/package.json
Labels: automerge, api: spanner, size: xs

#2020 feat(spanner): add support for float32
  .gitignore
  src/codec.ts
  src/index.ts
  system-test/spanner.ts
  test/codec.ts
  test/index.ts
Labels: kokoro:force-run, automerge, api: spanner, size: l
