Repository googleapis/nodejs-spanner, pull requests merged in 2024-12, with the labels that each got.

#2201 chore: add support for class MultiplexedSession
  src/database.ts
  src/multiplexed-session.ts
  test/database.ts
  test/multiplexed-session.ts
  test/session-pool.ts
Labels: kokoro:force-run, automerge, api: spanner, size: l

#2202 feat: Enable e2e tracing
  OBSERVABILITY.md
  observability-test/spanner.ts
  package.json
  samples/observability-traces.js
  src/common.ts
  src/database.ts
  src/index.ts
  src/instance.ts
  src/instrument.ts
  src/session.ts
  src/transaction.ts
  test/database.ts
  test/index.ts
  test/instance.ts
  test/session.ts
  test/transaction.ts
Labels: api: spanner, size: l

#2207 chore: Improve error message for Read-only transaction with bounded staleness
  src/database.ts
  test/database.ts
Labels: api: spanner, size: m

#2204 chore: support for common interface to get a session to support multiplexed session
  observability-test/database.ts
  src/database.ts
  src/multiplexed-session.ts
  src/session-factory.ts
  src/session-pool.ts
  test/database.ts
  test/multiplexed-session.ts
  test/session-factory.ts
  test/spanner.ts
Labels: automerge, api: spanner, size: l
