Repository googleapis/nodejs-spanner, pull requests merged in 2025-02, with the labels that each got.

#2226 chore: sample aysmmetric autoscaling config
  README.md
  samples/README.md
  samples/instance-with-asymmetric-autoscaling-config.js
  samples/system-test/spanner.test.js
Labels: api: spanner, samples, size: m

#2231 fix: rollback with no id
  observability-test/transaction.ts
  src/transaction.ts
  test/transaction.ts
Labels: api: spanner, size: s

#2211 feat(x-goog-spanner-request-id): add bases
  .gitignore
  src/request_id_header.ts
  test/request_id_header.ts
  test/spanner.ts
Labels: api: spanner, size: l

#2233 fix: error from fill method should not be emitted
  src/session-pool.ts
  test/session-pool.ts
Labels: do not merge, api: spanner, size: s
