Repository googleapis/nodejs-spanner, pull requests merged in 2025-04, with the labels that each got.

#2192 feat: Add support for Interval
  src/codec.ts
  src/index.ts
  system-test/spanner.ts
  test/codec.ts
  test/index.ts
Labels: api: spanner, size: xl

#2275 chore: add x_goog_spanner_request_id as attribute to spans
  src/index.ts
  src/request_id_header.ts
  test/spanner.ts
Labels: api: spanner, size: m

#2274 feat: Adding sample for pre-split feature
  samples/README.md
  samples/database-add-split-points.js
  samples/system-test/spanner.test.js
Labels: automerge, api: spanner, samples, size: m

#2236 fix: adding span attributes for request tag and transaction tag
  README.md
  observability-test/database.ts
  observability-test/observability.ts
  observability-test/table.ts
  observability-test/transaction.ts
  samples/README.md
  src/database.ts
  src/instrument.ts
  src/session.ts
  src/table.ts
  src/transaction.ts
Labels: automerge, api: spanner, size: xl

#2283 chore: remove test(14) and test(16) from the required checks
  .github/sync-repo-settings.yaml
  owlbot.py
Labels: api: spanner, size: xs
