Repository googleapis/nodejs-spanner, pull requests merged in 2025-05, with the labels that each got.

#2292 chore!: remove the arrify package
  .github/scripts/package.json
  package.json
  src/codec.ts
  src/database.ts
  src/helper.ts
  src/instance.ts
  src/transaction.ts
  test/instance.ts
Labels: api: spanner, size: m

#2296 test: skip backup tests to run in presubmits
  system-test/spanner.ts
Labels: api: spanner, size: xs

#2284 feat: add promise based signatures for createQueryPartitions
  src/batch-transaction.ts
  test/batch-transaction.ts
  test/mockserver/mockspanner.ts
  test/spanner.ts
Labels: api: spanner, size: m

#2300 feat: add promise based signatures on createReadPartitions
  src/batch-transaction.ts
  test/batch-transaction.ts
  test/mockserver/mockspanner.ts
  test/spanner.ts
Labels: api: spanner, size: m

#2301 feat: support promise based signatures for execute method
  src/batch-transaction.ts
  system-test/spanner.ts
  test/batch-transaction.ts
  test/mockserver/mockspanner.ts
  test/spanner.ts
Labels: api: spanner, size: l

#2306 chore: disable splits integration tests
  samples/system-test/spanner.test.js
Labels: api: spanner, size: xs

#2308 chore: add sample for transaction timeout configuration
  README.md
  samples/README.md
  samples/system-test/spanner.test.js
  samples/transaction-timeout.js
Labels: api: spanner, samples, size: m
