Repository googleapis/nodejs-spanner, pull requests merged in 2025-07, with the labels that each got.

#2345 chore: add mutation key heuristic for mutation only transaction
  src/transaction.ts
  test/mockserver/mockspanner.ts
  test/spanner.ts
  test/transaction.ts
Labels: api: spanner, size: l

#2358 chore: remove is dependency
  package.json
  src/batch-transaction.ts
  src/codec.ts
  src/common-grpc/service.ts
  src/helper.ts
  src/partial-result-stream.ts
  src/session-pool.ts
  src/transaction.ts
  system-test/spanner.ts
  test/codec.ts
  test/common/service.ts
Labels: kokoro:force-run, api: spanner, size: l

#2361 test: integration test commit retry
  system-test/spanner.ts
Labels: api: spanner, size: s

#2365 chore: Enable Airlock check as Required
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: xs
