Repository googleapis/nodejs-spanner, pull requests merged in 2025-06, with the labels that each got.

#2314 chore: add sample for statement timeout within a transaction
  README.md
  samples/README.md
  samples/statement-timeout.js
  samples/system-test/spanner.test.js
Labels: api: spanner, samples, size: m

#2297 fix: docs-test
  linkinator.config.json
Labels: api: spanner, size: xs

#2319 feat: add metrics tracers
  package.json
  src/metrics/constants.ts
  src/metrics/metrics-tracer-factory.ts
  src/metrics/metrics-tracer.ts
  test/metrics/metrics-tracer-factory.ts
  test/metrics/metrics-tracer.ts
Labels: api: spanner, size: l

#2332 fix: pass the Span correctly
  observability-test/spanner.ts
  src/transaction.ts
Labels: automerge, api: spanner, size: s
