Repository googleapis/nodejs-spanner, pull requests merged in 2025-03, with the labels that each got.

#2248 chore: promisify version to 4.0.0
  package.json
Labels: automerge, api: spanner, size: xs

#2245 feat(spanner): add support for snapshot isolation
  observability-test/database.ts
  src/database.ts
  src/index.ts
  src/table.ts
  src/transaction-runner.ts
  src/transaction.ts
  test/database.ts
  test/index.ts
  test/spanner.ts
  test/table.ts
  test/transaction-runner.ts
  test/transaction.ts
Labels: automerge, api: spanner, size: l

#2205 feat(debugging): implement x-goog-spanner-request-id propagation per request
  src/batch-transaction.ts
  src/database.ts
  src/index.ts
  src/instance.ts
  src/request_id_header.ts
  src/session.ts
  src/transaction.ts
  test/database.ts
  test/session.ts
  test/spanner.ts
  test/transaction.ts
Labels: automerge, api: spanner, size: l

#2252 feat(spanner): support for Multiplexed Session Partitioned Ops
  .kokoro/presubmit/node14/system-test-multiplexed-session.cfg
  .kokoro/trampoline_v2.sh
  observability-test/database.ts
  src/database.ts
  src/session-factory.ts
  test/database.ts
  test/mockserver/mockspanner.ts
  test/session-factory.ts
  test/spanner.ts
Labels: api: spanner, size: l
